 @import url('https://fonts.googleapis.com/css?family=Lato');
@keyframes blur {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}


body{
	font-family: 'Lato', sans-serif;
}

.container{
	max-width: 1150px;
	margin: 40px auto 0;
	text-align: center;
	position: relative;
}

h1{
	margin: 12px auto;
	color:#2d3950;
	font-size: 41px;
}

p{
	color: #909090;
	font-size: 15px;
}

.gall{
	margin-top: 63px;
	position: relative;
}

.img-wrapper{
	margin: 10px;
	display: inline-block;
	position: relative;
}


.img-wrapper:hover:after{
	content:'';
	display: block;
	width: 360px;
	height: 260px;
	background-color: #25a6f7;
	opacity: .8;
	position: absolute;
	top: 0;
}

.img-wrapper:hover .links{
	display: inline-block;
}

.links{
	display: none;
	position: absolute;
	top: calc(50% - 21px);
	left: calc(50% - 46px);
	z-index: 2;
}

.links a{
	display: inline-block;
	width: 42px;
	height: 42px;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

.links .fa{
	line-height: 42px;
}

#substrate{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	max-width: 1150px;
	margin: auto;
	background: rgba(255,255,255,.9);
	display: none;
	min-height: 100%;


}

#substrate.substrate_active{
	display: block;
}

.substrate-inner{
	position: absolute;
	right: 20px;
	left: 20px;
	top: 20%;
}



#preview{
	width: 100%;
	max-width: 1190px;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	right:0;
	bottom:0;
	top:0;
	border: 3px solid #999;
	border-radius: 8px;
	animation-name: blur;
    animation-duration: 1s;
}

#close{
	display: block;
	background: red url(img/x.png) no-repeat 14px 15px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -22px;
	right: 42px;
	z-index: 3;
}

.popup-container{
	position: absolute;
	left: 50%;
   top: 50%;
   width: 100%;
   height: 70%;
   transform: translate(-50%, -50%);
}