body{
	padding: 0;
	margin: 0;
}

button:active{
	padding: 0;
}

/* BEGIN navigation block styles */
.navblock_wrapper{
	width: 1024px;
	padding-top: 40px;
	margin: 0 auto;
	height: 70px;

}
.logo_block{
	float: left;
	width: 433px;
}
.logo a{
	font: 36px "FuturaBT-Medium", Arial, sans-serif;
	color:#ee8129;
	text-decoration: none;
}
.logo span{
	text-transform: uppercase;
	color: #3070a8;
	font-weight: bold;
}
nav ul{
	float: left;
	width: 591px;
	padding-left: 0;
}
nav li{
	display: inline-block;
	list-style: none;
}
nav a{
	font: 14px "Open Sans";
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 19px 31px;
	color: #989898;
	border-bottom: 4px solid transparent;
}

nav a:hover{
	color: #3070a8;
	border-bottom: 4px solid #3070a8;
	transition: border-bottom 0.6s ease-out;
}
/* END navigation block styles */

/* BEGIN aboutus block styles */
	.aboutus_wrapper{
		box-sizing: border-box;
		padding: 134px 0 107px;
		height: 585px;
		background: url('../img/aboutus-bg.png') no-repeat;
		background-size: cover;
		text-align: center;
		color: #fff;
	}
	.aboutus_wrapper div:nth-of-type(1){
		font-family: "FuturaBT-Medium", Arial;
		font-size: 36px;/* Приближение из-за подстановки шрифтов */
		font-weight: 300;
	}
	.aboutus_wrapper div:nth-of-type(2){
		font-family: "FuturaBT-Medium", Arial;
		font-size: 48px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		text-transform: uppercase;
		margin: 15px 0;
	}
	.aboutus_wrapper div:nth-of-type(3){
		font-family: Calibri;
		font-size: 20px;
		font-style: italic;
		letter-spacing: 0.4px;
		line-height: 30px;
		text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.26);
		 margin-bottom: 37px;
	}
	.aboutus_wrapper button{
		background: none;
		color: inherit;
		border: 1px solid #fff;
		width: 247px;
		height: 59px;
		text-transform: uppercase;

	}
	.aboutus_wrapper button:hover {
		background-color: #fff;
		color: #0277bd;
		transition: background-color .6s ease-out;
	}
/* END aboutus block styles */

/* BEGIN icons block styles */
	.iconsblock_wrapper{
		padding: 68px 189px 62px;
		text-align: center;
	}
	.iconsblock_wrapper h2{
		margin: 0 auto 78px;
		font-family: 'Trebuchet MS';
		color: #40525c;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.iconblock{
		width: 304px;
		display: inline-block;
		margin: 0 27px;
	}
	.iconblock h3{
		margin: 28px auto;
		font-family: "FuturaBT-Medium", Arial, sans-serif;
		color: #3070a8;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
	}
	.iconblock img{
		transition: transform 0.4s ease-out;
	}
	.iconblock img:hover{
		transform: scale(1.1) rotate(360deg);
	}
	.iconblock p{
		font-family: "Open Sans", sans-serif;
		color: #999;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
	}
/* END icons block styles */

/* BEGIN content block */
.contentblock_wrapper{
	height: 440px;
	background: url('../img/content-bg.png') no-repeat;
	background-size: cover;
	padding: 87px 187px 80px;
}
.contentblock{
	max-width: 700px;
}
.contentblock h2{
	margin: 0;
	font-family: "FuturaBT-Medium", Arial, sans-serif;
	color: #ee8129;
	font-size: 26px;
	font-weight: 300;
	line-height: 48px;
	text-align: left;
	text-transform: uppercase;
}
.contentblock h3{
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
	font-size: 19px;
	font-style: italic;
	line-height: 30px;
	text-align: left;
}
.contentblock ul{
	font-family: "Open Sans", sans-serif;
	color:
	#9d9d9d;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}
.contentblock .blue{
	color: #3070a8;
}
/* END content block */

/* BEGIN priceblock styles*/
	.priceblock_wrapper{
		margin: 76px auto;
		font-size: 0;
		text-align: center;
	}
	.priceblock{
		border-radius: 6px;
		border: 4px solid #ee8129;
		box-shadow: 0px 0px 8px #0874b2;
		width: 288px;
		padding-bottom: 20px;
		font-family: 'Trebuchet MS', sans-serif;
		display: inline-block;
		overflow: hidden;
		background-blend-mode: color-dodge;
		position: relative;
	}
	.priceblock.best{
		z-index: 1;
	}
	.priceblock.less{
		box-shadow: none;
		border: 1px solid #e8eaec;
		position: relative;
		top: -16px;
	}
	.priceblock.standart{
		border-top-right-radius: 0; 
		border-bottom-right-radius: 0;
		border-right-width: 0;
	}
	.priceblock.ultimate{
		border-top-left-radius: 0; 
		border-bottom-left-radius: 0;
		border-left-width: 0;
	}
	.priceblock-head{
		color:#ffffff;
		font-size: 24px;
		font-weight: 700;
		line-height: 73px;
		text-align: center;
		background-color:#ee8129;
		text-transform: uppercase;
	}
	.less .priceblock-head{
		line-height: 60px;
	}
	.standart .priceblock-head{
		background-color: #37c2d3;
	}
	.ultimate .priceblock-head{
		background-color: #1cb79a;
	}
	.productname{
		color: #3f4042;
		font-size: 24px;
		font-weight: 400;
		line-height: 66px;
		text-align: center;
		text-transform: uppercase;
	}
	.price{
		color:#35495a;
		text-align: center;
	}
	.cy{
		font-size: 18px;
		font-weight: 700;
		letter-spacing: -1.8px;
		text-align: center;
		position: relative;
		top: -42px;
	}
	.pricevalue{
		font-size: 72px;
		font-weight: 700;
		letter-spacing: -3.6px;
		text-align: center;
		line-height: 60px;
	}
	.period{
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		position: relative;
		top: 8px;
	}
	.advantages{
		list-style: none;
		padding-left: 0;
		color:#888c94;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.75px;
		width: 259px;
		margin: 34px auto 16px;
	}
	.advantages li{
		padding: 9px 22px;
		text-indent: 10px;
		margin-bottom: 1px;
		text-align: left;
	}
	.advantages li:before{
		display: block;
		position: relative;
		float: left;
		width: 14px;
		height: 15px;
		padding-right: 16px;
		content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAMAAADjyg5GAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAmVBMVEWXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgmXvgn///+jmIheAAAAMXRSTlMAWFF1SWH+OTb5CdpTgoEBHvf7axezT5b8VU7pvxr9MYybOuKt7tEIGNMu24Ak7UtUoKMzsQAAAAFiS0dEMkDSTMgAAAB6SURBVAjXTc7ZEoJADETRqKggKiruirgD7vf/f85MSY3JU5/qmmREzDSaVi0Co3aH7l9hBKFXLwb6ngMVQ5eSRGQ0hkmqQaazucgClivXrTdsJdMydQp2+ibfw+G343iC84VrUe8sK+2jm7+R3eFhvvd8xYWhvD91+AIa/AsumOWUvgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wMi0xMFQxMjoxNToxNiswMDowMJk82SAAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDItMTBUMTI6MTU6MTYrMDA6MDDoYWGcAAAAAElFTkSuQmCC);
	}
	.advantages li:nth-child(odd){
		background-color: #edf5fd;
	}
	.advantages li:nth-child(even){
		background-color: #f5f5f6;
	}
	.priceblock .pricebutton{
		background-color:#ee8129;
		box-shadow: 0px 3px 0px 0px #b3560b;
		width: 253px;
		height: 38px;
		color:#fff;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.7px;
		line-height: 16px;
		text-align: center;
		text-transform: uppercase;
		border: none;
		border-radius: 5px;
		margin: 0 auto 12px;
		display: block;
		position: relative;
		top: 0px;
		transition: top .08s ease-in,
		box-shadow .08s ease-in;
		cursor: pointer;
		outline: none;
	}
	.priceblock .pricebutton:active{
		box-shadow: none;
		top: 3px;
	}
	.less .pricebutton{
		margin: 0 auto;
		background-color: #3371a6;
		box-shadow: 0px 3px 0px 0px #16436a;
	}
/* END priceblock styles*/

/* BEGIN testimonials styles*/
	.testi{
		box-sizing: border-box;
		background-image: url(../img/bg.png);
		background-size: cover;
		width: 100%;
		min-height: 315px;
		text-align: center;
		font-family: 'Trebuchet MS', sans-serif;
		border: 1px solid transparent;
	}
	.testi-title{
		color: #3170a8;
		font-size: 40px;
		text-transform: uppercase;
		margin: 50px auto 40px;
	}
	.testi-title span{
		color: #ee8129;
	}
	.testi-item{
		display: inline-block;
		max-width: 700px;
		text-align: left;
		height: 98px;
		margin: 40px;
		margin-top: 0;
		font-size: 13px;
	}
	.testi-item img{
		display: inline-block;
		padding-right: 27px;
	}
	.testi-text{
		display: inline-block;
		background-color: #fff;
		min-height: 98px;
		width: 365px;
		vertical-align: top;
		position: relative;
		padding: 14px;
		box-sizing: border-box;
		color: #666;
	}
	.testi-text:before{
		position: absolute;
		top: 34px;
		left: -28px;
		display: block;
		width: 1px;
		height: 1px;
		background-color: transparent;
		content: "";
		border-right: 15px solid #fff;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 12px solid transparent;
	}
	.testi-header{
		color:#3070a8;
		font-style: italic;
		border-bottom: 1px dotted #666;
		padding-bottom: 12px;
		margin-bottom: 12px;
	}
	.testi-name:before{
		content: "- ";
		display: inline;
	}
	.testi-name:after{
		content: "Customer";
		display: block;
		position: absolute;
		left: calc(100% - 55px - 14px);
		top: 15px;
	}
/* END testimonials styles*/

/* BEGIN contactsblock styles*/
.contacts-block{
	height: 345px;
}
.contacts-wrapper, .map{
	width: 50%;
	box-sizing: border-box;
}

.map{
	float: right;
}

.contacts-wrapper{
	padding-top: 20px;
	float: left;
}

.contacts{
	width: 250px;
	margin: auto;
}

.contacts ul{
	list-style: none;
	font-family: "Open Sans", sans-serif;
	color: #666666;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	line-height: 36px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	padding-left: 0;
}

.contacts li{
	padding-left: 40px;
}

.cont-icon1, .cont-icon2, .cont-icon3{
}

.cont-icon1{
	background: url('../img/cont-icon1.png') no-repeat 0 5px;
}

.cont-icon2{
	background: url('../img/cont-icon2.png') no-repeat 2px 5px;
}

.cont-icon3{
	background: url('../img/cont-icon3.png') no-repeat 0 10px;
}

.social{
	margin-top: 26px;
}

.social a{
	display: inline-block;
	margin-right: 32px;
}
/* END contactsblock styles*/

/* BEGAN footer styles*/
footer{
	box-sizing: border-box;
	height: 100px;
	background-color: #2c71a9;
	font-family: "Open Sans", sans-serif;
	color:#ffffff;
	font-size: 14px;
	text-align: center;
	padding-top: 14px;
}

footer p{
	margin: 10px 0;
}
/* END footer styles*/

footer p:nth-child(2) strong{
	color: #1d1b1b;
}